[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
wikiexpand = "*"
wikitextparser = "*"
setuptools = ">=36.2.1"
peewee = "*"
graphene = ">=2.0"
flask = "*"
flask-graphql = "*"

[dev-packages]
ipython = "*"
pytest = "*"

[requires]
python_version = "3.7"
