[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
wikiexpand = "*"
wikitextparser = "*"
setuptools = ">=36.2.1"
peewee = "*"
graphene = ">=2.0"
responder = "*"

[dev-packages]
ipython = "*"
pytest = "*"
ipdb = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
