* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
}

.App {
  padding: 60px;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  width: 276px;
  height: 49px;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 100%;
}

.App-content {
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
}

.App-footer {
  margin: 20px 0;
  color: rgba(77,77,77,.5);
  text-align: center;
  font-size: 12px;
}

.App-footer a {
  color: rgba(77,77,77,.5);
  border-bottom: 1px dotted #d2d2d2;
  text-decoration: none;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
